* {
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin:0;
}

.head {
    color:darkgrey;
    font-size: 25px;
    background-color:rgb(39, 39, 39);
    padding: 20px;
    padding-left:55px;
}

.title {
    color:rgb(56, 56, 56);
    font-size: 50px;
    margin-left: 300px;
}

.container {
    max-width: 700px;
    text-align: center;
    margin: 10px auto;
}

.input-row {
    display:flex;
    gap:10px;
    margin-bottom: 30px;
}

.input-row input{
    flex:1;
    font-size: 25px;
}

.input-row button {
    background-color: rgba(51, 104, 203, 0.885);
    color:aliceblue;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    padding: 4px 20px;
    cursor:pointer;
}

.todo-list {
    list-style:none;
    padding: 0;
    border-radius: 4px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  border-bottom: 1px solid #eee;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-text {
  font-size: 16px;
}

.todo-item.done .task-text {
  text-decoration: line-through;
  color: #888;
}

.delete-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}