* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
}

.navbar {
  background-color: #2f2f2f;
  color: rgb(150, 148, 148);
  padding: 14px 20px;
}

.container {
  max-width: 700px;
  margin: 60px auto;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

.input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.input-row input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.input-row button {
  background-color: #2d7dd2;
  color: white;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  border-bottom: 1px solid #eee;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-text {
  font-size: 16px;
}

.todo-item.done .task-text {
  text-decoration: line-through;
  color: #888;
}

.delete-btn {
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}